<%= form_for @product do |f| %>
  <p>
    <%= f.label :name, "Product name" %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description, "Product description" %>
    <%= f.text_area :description %>
  </p>

  <%= f.submit "Create" %>
<% end %>
